
<h2><span class="mw-headline" id="Introduction_Points">Introduction Points</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=3" title="Edit section: Introduction Points">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://3g2upl4pq6kufc4m.onion/">DuckDuckGo</a> A Hidden Service that searches the clearnet.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/index.php/Main_Page">The Hidden Wiki</a> A mirror of the Hidden Wiki. 2 days old users can edit the main page. <b>[redirect]</b></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=multivacigqzqqon.onion">MultiVAC</a> Search engine for .onion hidden services</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://onion.Sh">Onion.Sh</a> Browse Tor from Clearnet - Tor2Web</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://deepdot35wvmeyd5.onion/">DeepDotWeb</a> The official onion version of the clearnet site.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://ssd.eff.org/">Self-defense Surveillance Guide</a> Tips, Tools and How-tos for Safer Online Communications (clearnet).</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://ritter.vg/p/tor-v1.6.pdf">Everything About Tor</a> Everything about Tor</li></ul>
<h2><span class="mw-headline" id="Financial_Services">Financial Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=4" title="Edit section: Financial Services">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Currencies, banks, money markets, clearing houses, exchangers:
</p>
<h3><span class="mw-headline" id="Wallet_Services">Wallet Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=5" title="Edit section: Wallet Services">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://electrum.org/">Electrum</a> Offline Bitcoin wallet by Thomas Voegtlin since 2011</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=easyko3zrfooqrpo.onion">EasyCoin</a> Easy to use Bitcoin Wallet and Bitcoin Mixer</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://blockchainbdgpzk.onion/">Blockchain.info</a> Online Bitcoin Wallet with registration</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=ow24eogrfzo2fhbb.onion">Onion Wallet</a> Anonymous Bitcoin Wallet and Bitcoin Laundry</li></ul>
<h3><span class="mw-headline" id="Mixing_Services">Mixing Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=6" title="Edit section: Mixing Services">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=chipmfnoepzibzsl.onion">ChipMixer</a> High volume Bitcoin mixer with low fees and multiple forward adresses.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=foggeddr5duostyf.onion">Bitcoin Fog</a> Bitcoin anonymization taken seriously.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=bitblhet2wpjnmfa.onion">BitBlender</a> Anonymously hide track of your bitcoin transactions with this coin mixer.</li></ul>
<h3><span class="mw-headline" id="Fraud_Services">Fraud Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=7" title="Edit section: Fraud Services">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=galaxyaonv32reim.onion">CC Galaxy</a> #1 Carding Forum for CCs, Pre-Paid, WU, MG, Bank &amp; PayPal Transfers, Since 2011.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=dream6udx7w66o23.onion">DreamWeavers</a> Offering high quality prepaid products for a great deal.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=zzq7hwjp2yl4w7sp.onion">The Green Machine!</a> Forum type marketplace with some of the oldest and most experienced vendors around. Get your paypals, CCs, etc</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=nare7tkhn6jgqqg5.onion">PayPal Cent</a> High quality PayPal accounts with balance.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=black3krtvdirriq.onion">Black&amp;White Cards</a> prepaid and Cloned Cards with PIN. Good Customer Service. Best Deals. Cheap Prices.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=oazis64odog3oorh.onion">Financial Oasis</a> A slew of products from a darker side of finance.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=aaaajvwf2xneax5a.onion">Amazon GC 4 Bitcoins</a> Bring Your dreams to life with these amazing Amazon gift cards half of the price.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=ej7tusdnahubmcsk.onion">ValidFraud</a> Automatic worldwide mid-grade fullz and dump with pin shop.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=premiumruzgaamwt.onion">Premium Cards</a> Risk Free Pre-Paid cards for sale.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=uzpsnywispao2b2g.onion">Guttenbergs Print</a> Finest USD/EUR bills on market. Passes all known tests. Random serials. Only top-notch currency.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=hcutfffg72zg5vqd.onion">Cash Machine</a> Phished PayPal, Neteller, Skrill, BoA, Wells fargo bank Accounts, Paysafecard's, US &amp; EU Credit cards are available here.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=o6klkjo6vwxhpagd.onion">Cheap Euros</a> 20€ Counterfeit bills. Unbeatable prices!!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=prepayf47wn4lpuz.onion">Euphoric Oblivion</a> Risk Free Pre-Paid cards for sale.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=ityukeuttlsh3zw3.onion">Paypal-Coins</a> Buy a paypal account and receive the balance in your bitcoin wallet.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=ccxdnuwmk25iqtas.onion">Clone CC Crew</a> No.1 Trusted onion site for Cloned Credit Card. $2000/$5000 balance available</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=ppccpwtty2ev54h4.onion">7YearsinTibet</a> Fully automated PayPal &amp; Credit card market site. Fresh stock every 2 days. Best deals.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=rcashonsvrfk3vzh.onion">Royal Cash</a> Buy Pre-Shredded USD &amp; EURO Currency for a fraction of the value. #1 Seller in Genuine USD Notes.</li></ul>
<h3><span class="mw-headline" id="Physical_Services">Physical Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=8" title="Edit section: Physical Services">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=guns357en77acwck.onion">Guns Dark Market</a> Guns market to buy guns, full auto assault rifles, pistols, grenade launchers, etc.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=golddax3cxjruosb.onion">Gold &amp; Diamonds</a> Genuine Gold, Diamonds and Rhino Horn shipped from Germany and USA.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=mobilqyad6npycbx.onion">Mobile Store</a> Factory unlocked iphones and other smartphones.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=etrrdyscefffc2tt.onion">Samsungstore</a> Samsung tablets, smartphones, notebooks with escrow.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=tfwdi4kcwikilex2.onion">Apples4Bitcoin</a> Cheap Apple products for Bitcoin.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=cstoroaamnew2xwv.onion">Carded Store</a> Electronics purchased with carded giftcards, Everything Brand new. Full escrow accepted.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=2kka4yzbx3mjymsd.onion">EuroGuns</a> Your #1 european arms dealer.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=crypto7qcytc7ifg.onion">CryptoCoin Mining</a> Carded crypto currency mining accessories, graphics cards, motherboards, power supplies..</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=fakeimzd6ogifhks.onion">Fake Passport ID sale</a> Good website selling quality EU/US/AUS/CAN fake passports, ID cards, driver's licenses.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=vfqndlfeq5rdpkix.onion">UK Passports</a> Original UK Passports.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=en35tvvexyqbdmih.onion">US fake IDs</a> High quality USA Fake Drivers Licenses.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=abbuj7ne5wvtehjq.onion">Onion Identity Services</a> Selling Passports and ID-Cards for Bitcoins.</li></ul>
<h3><span class="mw-headline" id="Other_Services">Other Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=9" title="Edit section: Other Services">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://elfq2qefxx6dv3vy.onion/fakeid.php">Forsaken</a> The Fake ID Identity Name Generator</li></ul>
<h2><span class="mw-headline" id="Drugs">Drugs</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=10" title="Edit section: Drugs">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<h3><span class="mw-headline" id="Drug_Markets">Drug Markets</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=11" title="Edit section: Drug Markets">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=silkk5uoocpdgjum.onion/register/Gdv4">Valhalla Market</a>  also known as Silkkitie, anonymous marketplace for all kinds of drugs since 2013.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=lchudvccny63rbrq.onion/?ai=2854542013">Dream Market</a>  Anonymous marketplace for all kinds of drugs.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=tochkjstsdvtxeyh.onion/auth/register/bfa7ee59b57a44c167ddd2233255395b">Tochka Market</a> Russian Anonymous marketplace for all kinds of drugs</li></ul>
<h3><span class="mw-headline" id="Drug_Vendors">Drug Vendors</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=12" title="Edit section: Drug Vendors">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=pushingj6gtbsjs5.onion">PushingTaboo/GammaGoblin Vendor</a>  Famous psychedelics vendor shipping from non blacklisted country since 2012.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=chemradvzlfaqeqc.onion">AmsterdamFlex Vendor</a> Quality Cocaine from Colombia, Netherlands, Germany and Spain.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=yourdyh7n6z46uog.onion">YourDrug Vendor</a> consisted of a small team of experienced individuals who have been in this business for years</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=elherfvmliyagg7b.onion">ElherBolario Vendor</a> Selling Cannabis Products</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=eeyovhjzsemrevss.onion">CharlieUK Vendor</a> Anonymous marketplace for all kinds of drugs</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=abyssbuxeni3sekq.onion">The French Connection Vendor</a> Vendor shop from Mr Nice Guy or Nucleus – Selling H, XTC , Meth etc...</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=greenaxgw3nkwkf7.onion">Green Dragon UK</a> Cannabis tincture, prompt delivery, low prices</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=rso4hdok66ahxiis.onion">EuCanna</a> 'First Class Cannabis Healthcare' - Medical Grade Cannabis Buds, Rick Simpson Oil, Ointments and Creams</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=newpdv5cb2kwdoe2.onion">Peoples Drug Store</a> The Darkweb's Best Online Drug Supplier.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=smokejxr4a6bv7u6.onion">Smokeables</a> Finest Organic Cannabis shipped from the USA</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=fzqnr74zguawqdp7.onion">CannabisUK</a> UK Wholesale Cannabis Supplier</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=kbvbhiy7t2jytlej.onion">DeDope</a> German Weed and Hash shop. (Bitcoin)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=grimlk5ra7higmm5.onion">MegrimLock Vendor</a> Selling since 2013 Coke, Mdma, Meth, K, Ambien, LSD etc...</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=s5q54wtwcalqs7e5.onion">BitPharma</a> EU vendor for cocaine, speed, mdma, psychedelics and subscriptions</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=25ffhpouaxzf2kue.onion">NLGrowers</a> Coffee Shop grade Cannabis from The Netherlands</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=k4btcl6lvwg6uvq4.onion">Kamagra for Bitcoin</a> Same as Viagra but cheaper!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://stonesc3qxctiwb6.onion/">Stoned100 Vendor</a> Vendor from Dream, Alphabay &amp; Outlaw - Selling Speed,Ecstasy, Hash, MDMA, Sildenafil, Weed</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://qualinxe7m3hsnue.onion/">QualityKing Vendor</a> Vendor on Alphabay, Dream and previous markets - selling opioids.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://l33tev57qdpv47sz.onion/">l33ter Vendor</a> Selling digital and physical products</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ykrxnzj7ofyemjke.onion/">MOM4Europe Mail Order Marijuana</a> Order organic weed from Netherlands directly from the source.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://deepswxq5mtfswx6.onion/">DeepStatus Vendor</a> DeepStatus Vendor with great Coke and MDMA</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://eupilwab7owqbxly.onion/">EuroPills Vendor</a> Selling Medications. </li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://xdsa5xoyambqzd7f.onion/">Steroid King</a> All the steroids you need. (Bitcoin)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://tdupp6kjdqqup5vx.onion/">The Pot Shop</a> Weed and Pot Shop Trading for longer than a year now! (Bitcoin)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ye224l3svhjvipyc.onion/">CosmicBites Vendor</a> Vendor from Alphabay, Dream and previous markets - selling cannabis products</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://slkusb4w7gn7awzn.onion/">SoulKush Vendor</a> Selling Bud &amp; Concentrates</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ll6la7s4gfkhzzmf.onion/">Brainmagic</a> Best psychedelics</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://jpdoam5y54i4c6vr.onion/">Goodoo Vendor</a> Vendor from IDC &amp; SR3 Selling Coke, MDMA, Hash &amp; Ketamine</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://mghrei67gtulp5q5.onion/">MaghrebHashish Vendor</a> Selling pollen Ketama Hash</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kpj3oo4rd5rzrydy.onion/">MushBud Vendor</a> servicing the DNM Scene since the original Silk Road, as well as SR2, Sheep, BMR, Agora &amp; briefly at Abraxas. Selling weed and psychedelics</li></ul>
<h2><span class="mw-headline" id="Commercial_Services">Commercial Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=13" title="Edit section: Commercial Services">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ftec4org3hcpnoir.onion/">Apple Palace</a> low priced Apple Products!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://footballthj7o5w3.onion/">Football Money</a> Fixed football games info.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hackkj73za7dnxzk.onion/">Hack Group</a> Professional hacking group.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://abbujjh5vqtq77wg.onion/">Onion Identity Services</a> Selling Passports and ID-Cards for Bitcoins.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://35flmpspwpnarbos.onion/">Apple World</a> Carded iPhones, iPads, Macbooks, iMacs and consoles shipping worldwide.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://sla2tcypjz774dno.onion/uscitizen.html">SOL's United States Citizenship</a> Become a True US Citizen - Selling Citizenship.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://skimmerkrwzvnq4a.onion/">Skimmer Device</a> Seller of Magnetic Stripe Reader (MSR) and Writer devices to clone cards.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://fakeidskhfik46ux.onion">New Identity</a> Fake documents service online. 3-5 days FREE express delivery worldwide.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://digigangxiehugqk.onion/">Digital Gangster</a> Hire a hacker for espionage, password retrieval, web hacking, and exploits.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://dmru36nvfgtywx47.onion/">HomeHosting</a> An experienced system administrator who sets up secure servers and gives technical advises on security</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://btc6nu6qvxpn6bqh.onion/">BigEscrow</a> Escrow service from DNM market staff with low fees of only 2%</li></ul>
<h2><span class="mw-headline" id="Domain_Services">Domain Services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=14" title="Edit section: Domain Services">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://genefb3fvr5fjcti.onion/">Readable Domains</a> Selling readable onion domain names, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://genefb3fvr5fjcti.onion/search.php">use this link</a> to search readable onion domains and share your best finds on <a href="/wiki/index.php?title=Readable_onions" title="Readable onions">readable onions</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://btcase3buwolzhbq.onion/">Readable Bitcoin Addresses</a> Service for generating custom Bitcoin addresses for a small fee</li></ul>
<h2><span class="mw-headline" id="Anonymity_.26_Security">Anonymity &amp; Security</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=15" title="Edit section: Anonymity &amp; Security">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a href="/wiki/index.php?title=Anonymity" title="Anonymity">Anonymity</a> <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: cyan"><b>INFO</b></span></a><b>]</b></sup></li>
<li> <a href="/wiki/index.php?title=Security" title="Security">Security</a> <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: cyan"><b>INFO</b></span></a><b>]</b></sup></li>
<li> <a href="/wiki/index.php?title=Privacy" title="Privacy">Privacy</a> <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: cyan"><b>INFO</b></span></a><b>]</b></sup></li>
<li> <a href="/wiki/index.php?title=THW_Escrow" title="THW Escrow">THW_Escrow</a></li></ul>
<h2><span class="mw-headline" id="Hosting_.2F_Web_.2F_File_.2F_Image">Hosting / Web / File / Image</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=16" title="Edit section: Hosting / Web / File / Image">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a href="/wiki/index.php?title=Hosting_/_Web_/_File_/_Image" title="Hosting / Web / File / Image">Hosting / Web / File / Image</a></li></ul>
<h2><span class="mw-headline" id="Blogs_.2F_Essays_.2F_Wikis">Blogs / Essays / Wikis</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=17" title="Edit section: Blogs / Essays / Wikis">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://rougmnvswfsmd4dq.onion/">Tor Metrics</a> Welcome to Tor Metrics, the primary place to learn interesting facts about the Tor network, the largest deployed anonymity network to date. If something can be measured safely, you'll find it here. </li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://74ypjqjwf6oejmax.onion/">Beneath VT</a> Information on the steam tunnels at Virginia Tech.</li>
<li> <a href="/wiki/index.php?title=Jiskopedia" title="Jiskopedia">Jiskopedia</a> A multilingual wikipedia for <a href="/wiki/index.php?title=Tor" title="Tor">Tor</a> and <a href="/wiki/index.php?title=I2P" title="I2P">I2P</a> networks. <i>[Not a link.]</i></li></ul>
<h2><span class="mw-headline" id="Email_.2F_Messaging">Email / Messaging</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=18" title="Edit section: Email / Messaging">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>See also: The compendium of clear net <a href="/wiki/index.php?title=Email" title="Email">Email</a> providers.
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://secmailw453j7piv.onion/">secMail.pro</a>  Complete mail service that allows you to send and receive mails without violating your privacy.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://torbox3uiot6wchz.onion/">TorBox</a> This is a hidden mailbox service only accessible from TOR without connection with public internet.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://bitmailendavkbec.onion/">BitMessage.ch</a> Bitmessage support build-in. Registration is only available using their clearweb link with js.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://protonirockerxow.onion/">Protonmail</a> Swiss based e-mail service, encrypts e-mails locally on your browser. Free and paid accounts.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://mail2tor2zyjdctd.onion/">Mail2Tor</a> Mail2Tor is a free anonymous e-mail service made to protect your privacy.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://eludemaillhqfkh5.onion/">Elude.in</a> Elude.in is a privacy based email service and a Bitcoin/Monero exchange.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://grrmailb3fxpjbwm.onion/">TorGuerrillaMail</a> Disposable Temporary E-Mail Address.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://tetatl6umgbmtv27.onion/">Chat with strangers</a> Talk to random users anonymously.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://blackhost5xlrhev.onion/">BlackHost</a> Email provider, useful tech stuff and tools.</li></ul>
<h2><span class="mw-headline" id="Social_Networks">Social Networks</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=19" title="Edit section: Social Networks">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://blkbook3fxhcsn3u.onion/">BlackBook</a> Social media site (The facebook of TOR)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://w363zoq3ylux5rf5.onion/">Galaxy 2</a> A revival of the old Galaxy community.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://www.facebookcorewwwi.onion/">Facebook</a> The real Facebook's Onion domain. Claim not to keep logs. Trust them at your peril</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://fbcy5ylyoeqzqzcr.onion/">Moneybook</a> The darkweb Facebook of money. Now with anon posting.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://lightqcszalqpquo.onion/">Truth &amp; Light</a> Need help? We are here to help the best we can for anyone in need.</li></ul>
<h2><span class="mw-headline" id="Forums_.2F_Boards_.2F_Chans">Forums / Boards / Chans</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=20" title="Edit section: Forums / Boards / Chans">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://b34xhb2kjf3nbuyk.onion/">The Stock Insiders</a> How to Beat Wall Street. The community for exchanging Insider Information about the Publicly Traded Companies.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://answerstedhctbek.onion/">Hidden Answers</a> a site for asking questions and receiving answers on Tor.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://rrcc5uuudhh4oz3c.onion/">The Intel Exchange</a> Know or need to know something? Ask and share at this underground intelligence gathering network. (New Board. Much Better) (2013-08-11 UTC Appears that admins have ditched?)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kxojy6ygju4h6lwn.onion/">Flashlight forum</a> An info beam in the darkweb</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://qm3monarchzifkwa.onion/">Anonymous BBS</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="gopher://qm3monarchzifkwa.onion/">gopher interface</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="telnet://qm3monarchzifkwa.onion/">telnet interface</a> Another variation of the talks style of board.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://54ogum7gwxhtgiya.onion/insertor/">InserTor</a> Tor pastebin clone. Create new paste, share code, share news. Public and Private pastes. Create encrypted paste (encrypted button only with java on) or paste with time limit (also burn on reading!)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://stu32b4sndw3cptm.onion/">Simple Pastebin</a> Very simple Tor free Pastebin.</li></ul>
<h2><span class="mw-headline" id="Political_Advocacy">Political Advocacy</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=21" title="Edit section: Political Advocacy">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://pyl7a4ccwgpxm6rd.onion/">CODE:GREEN</a> Ethical hacktivism for a better world</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://6sgjmi53igmg7fm7.onion/">BuggedPlanet.Info</a> X</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://qx7j2selmom4ioxf.onion/">paraZite #1st</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://onion.parazite.net/">clearnet 301 redirector</a> Illicit activities advocacy and censored information archive.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kpynyvym6xqi7wz2.onion/">paraZite #2nd</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://onion2.parazite.net/">clearnet 301 redirector</a> Illicit activities advocacy and censored information archive.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://tns7i5gucaaussz4.onion/">FREEFOR</a> USA-based FREEdom FORces developing a turnkey distributed Temporary Autonomous Zone. <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://tns7i5gucaaussz4.onion/wiki/FAQ/">FAQ </a></li></ul>
<h2><span class="mw-headline" id="Whistleblowing">Whistleblowing</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=22" title="Edit section: Whistleblowing">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<h3><span class="mw-headline" id="WikiLeaks">WikiLeaks</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=23" title="Edit section: WikiLeaks">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://wlupld3ptjvsgwqw.onion">WikiLeaks</a></li></ul>
<h3><span class="mw-headline" id="Other">Other</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=24" title="Edit section: Other">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://54ogum7gwxhtgiya.onion/tor-against-cp/">Tor Against CP!</a> Free and clean Tor - Tor users against CP!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://qtt2yl5jocgrk7nu.onion/">Indymedia Keyserver</a> Secure PGP Keyserver in Onionland.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://pedorabox.torpress2sarn7xw.onion/">PedoraBox</a> List of Pedophiles IP Addresses.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://tdkhrvozivoez5ad.onion/">Zyprexa Kills</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://am4wuhz3zifexz5u.onion/Library/English/ZyprexaKills/">mirror</a> The Zyprexa Memos. Internal documents that <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.lilly.com/">Eli Lilly</a> tried to expose.</li>
<li> Cat out of the Bag [<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://vkpriz2cjzymgpsp.onion/">Tor</a> | <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.catoutofthebag.info/">Internet</a>] Neven Lovrics' disclosure.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://6r3pg2kyrn5e7jjd.onion"><font color="red"><b>Illuminati (TOR Link)</b></font></a> <font color="red"><b>New World Order</b></font></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.blackhost.xyz/hosts/illuminati/"><font color="red"><b>Illuminati (WWW Link)</b></font></a> <font color="red"><b>New World Order</b></font></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://4iahqcjrtmxwofr6.onion/">Strategic Intelligence Network</a> The Strategic Intelligence Network goal is to provide intelligences, ressources and tools to be prepared and to respond to crisis situations anywhere you are in the world.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://4zeottxi5qmnnjhd.onion/">The Anarchism Library Mirror</a> Mirror content from September 2012.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hackcanl2o4lvmnv.onion/">Hack Canada</a> America is a joke.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://2v7ibl5u4pbemwiz.onion/">Cat Facts</a> A site that distributes cat facts.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://yuxv6qujajqvmypv.onion/">Safer Anonymous OS Guide</a> A Comprehensive Guide to Installing and employing a Safer Anonymous Operating System.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://h73hx2munq7q465s.onion/#/">Global Leaks</a> Blow the whistle!  (requires javascript)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://secrdrop5wyphb5x.onion">SecureDrop</a> (<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://securedrop.org">Clearnet</a>) - An open-source whistleblower submission system that media organizations can use to securely accept documents from and communicate with anonymous sources.</li></ul>
<h2><span class="mw-headline" id="H.2FP.2FA.2FW.2FV.2FC">H/P/A/W/V/C</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=25" title="Edit section: H/P/A/W/V/C">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Hack, Phreak, Anarchy (internet), Warez, Virus, Crack
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hellamz4kpl26ltr.onion/">HeLL Forum</a> HeLL Reloaded is back!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://nifgk5szbodg7qbo.onion/">TCF</a> Tor Carding Forums + Market.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://relatecxjngl4qs7.onion/">RelateList</a> New era of intelligence.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://m7imyjppzh2ftfgz.onion/">Spartan's Dark Rift</a> Hacking, cracking, conspiracy and more plus a nightly deep web crawl and connection test for onion sites. Check out the downloads section for a growing collection of underground priv documents.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://digigangxiehugqk.onion/">Digital Gangster</a> Hacking database with exploits, leaks, dumps, papers, and hashes.</li></ul>
<h2><span class="mw-headline" id="Audio_-_Music_.2F_Streams">Audio - Music / Streams</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=26" title="Edit section: Audio - Music / Streams">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://76qugh5bey5gum7l.onion/">Deepweb Radio</a> -- RadioService operating over TOR</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://vt27twhtksyvjrky.onion/">lol 20th Century Western Music Recordings and Scores</a>  - high quality music notations and lossless recording that people can get. these are distributed on oneswarm -</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://wuvdsbmbwyjzsgei.onion/">Lossless Audio Files</a> Mostly WavPack, some FLAC, Ape, ogg, etc. Has index generating links.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://2f3oy4vebxqkqu52.onion/live.ogg/">2f30.org Live Radio</a> The 2f30.org Live Radio Stream inside the Tor Network</li></ul>
<h2><span class="mw-headline" id="Video_-_Movies_.2F_TV">Video - Movies / TV</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=27" title="Edit section: Video - Movies / TV">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://torflix5djtgsbn3.onion">Torflix</a> Watch Tv series over Tor</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://bw6y33vwyay7uun2.onion/">FileTor</a> A Well organized Anime, Movie and TV Show Index</li></ul>
<h2><span class="mw-headline" id="Books">Books</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=28" title="Edit section: Books">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://duskgytldkxiuqc6.onion/">Example rendezvous points page</a> Thomas Paine's <i>Common Sense</i> and <i>The Federalist papers</i></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://sblib3fk2gryb46d.onion/">Traum library mirror</a> 60GB of Russian and English books. A mirror of the latest Traum ISO. Covers, search and downloads in FB2, HTML and plain TXT</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kpynyvym6xqi7wz2.onion/files.html">ParaZite</a> Collection of forbidden files and howto's (pdf, txt, etc.).</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://c3jemx2ube5v5zpg.onion/">Jotunbane's Reading Club</a> "All your ebooks are belong to us!"</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://52wdeibt3ivmcapq.onion/">Liberated Books and Papers</a> A small collection of hard to find books.</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://clockwise3rldkgu.onion/">Clockwise Library</a> A collection of art and science books.</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ibi5rw4yitbhdw6k.onion/">The Last of PAPYREFB2</a> A collection of mostly Spanish books.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://booksubt62eeiyrb.onion/">Paul Dreyer's eBook Library</a> DRM-Free Growing eBook Library, mostly in ePub format.</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://nope7beergoa64ih.onion/">BB Compendium </a> A collection of chemistry, drugs, explosives, fireworks, pyrotechnics, science, and weapons related documents.</li>
<li><a href="/wiki/index.php?title=Libraries" title="Libraries">Libraries</a> A more complete list</li></ul>
<h2><span class="mw-headline" id="ADULT">ADULT</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=29" title="Edit section: ADULT">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://32pbf32xi6ccm63z.onion">Madama libreygratis cl</a> 200000+ videos from sites like pornhub, redtube, xhamster, xvideos, etc... And new videos are added hourly!</li></ul>
<h2><span class="mw-headline" id="Erotica">Erotica</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=30" title="Edit section: Erotica">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul><li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://darksdsp6iexyidx.onion/">Darkscandals</a> Site with real Rape, Blackmail and Forced videos (Pack 7 is out since February 12, 2017 ).</li></ul>
<h4><span class="mw-headline" id="Noncommercial_.28E.29">Noncommercial (E)</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=31" title="Edit section: Noncommercial (E)">edit</a><span class="mw-editsection-bracket">]</span></span></h4>
<ul><li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=teenprn3wvadauuh.onion">TeenPorn</a> The best selection of amateur teen porn videos from the deep web</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://xnordic6virmmls3.onion/">X Nordic Scandinavian Amateurs</a> Amateur pictures from Nordic woman (Sweden, Norway, Denmark, Iceland and Finland)</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://xcomics5vvoiary2.onion/">XCOMICS</a> Adult comics</li>
<li><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://pinkmwiibcnugpom.onion/">Pink Meth archive</a> One of the archives of the now defunct Pink Meth site, amateur pictures with names.</li></ul>
<h4><span class="mw-headline" id="Commercial_.28E.29">Commercial (E)</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=32" title="Edit section: Commercial (E)">edit</a><span class="mw-editsection-bracket">]</span></span></h4>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hw4c27ovjuft7r7u.onion/">Hijab FUCK Girls</a> Hacked and exposed young muslim girls.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqktlwi4i34kbat3.onion/wiki/redirect.php?url=young64ispejbqrl.onion">Youngest Girls</a> Teen Videos Porn Pictures.</li></ul>
<h3><span class="mw-headline" id="Animal_Related">Animal Related</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=33" title="Edit section: Animal Related">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://animalsexporn.org/">Animal Porn Pics</a> Hot Girls Loves Hers Pets</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://pja3dhxxpn4cba63.onion/TSSA/">The Secret Story Archive #1st</a> Big cat zoophile stories, artwork, links and forum.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://odduuqnxvzqftyfh.onion/">The Secret Story Archive #2nd</a> Mirror of #1st.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://oxwugzccvk3dk6tj.onion/zoo/">Zoo</a> Zoophilia-related imageboard</li></ul>
<h3><span class="mw-headline" id="Other_2">Other</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=34" title="Edit section: Other">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://infotombjhy7tcrg.onion/m5da5.txt">TelAvivService</a> Professional anonymous global goods partners.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://mmgh3rqeswrlgzdr.onion/">VOR-COM Archive</a> Archive of the VOR-COM. Contains vore!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://madman2etx2rizey.onion/">Madman File Storage</a> Archives of illegal/miscellaneous (censored) files, such as guides for making methamphetamine, suicidal howto's and more. Anonymous users can submit files. Also a tor link directory. <b>[temporarily down/empty for renovation]</b></li></ul>
<h2><span class="mw-headline" id="Uncategorized">Uncategorized</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=35" title="Edit section: Uncategorized">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Services that defy categorization, or that have not yet been sorted.
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://fkyvwpu7ccsorke2.onion/">noreason</a> Info and pdf files on weapons, locks, survival, poisons, protesters, how to kill. Hidden Wiki, TorDir, Steal this wiki, Telecomix Crypto Munitions Bureau mirrors. Guro, dofantasy / Fansadox Collection. Nigger allstardrift on kik</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://git.vola7ileiax4ueow.onion/">Volatile Git</a> Git hosting provided by Gogs software. Open registration with HTTP/S, GIT, and SSH access over onion and clearnet. Unfortunately, requires JavaScript.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://62gs2n5ydnyffzfy.onion/">IIT Underground</a> Information on and photos of the steam tunnels and roofs at the Illinois Institute of Technology</li></ul>
<h2><span class="mw-headline" id="Non-English">Non-English</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=36" title="Edit section: Non-English">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<h3><span class="mw-headline" id="Belarussian_.2F_.D0.91.D0.B5.D0.BB.D0.BE.D1.80.D1.83.D1.81.D1.81.D0.BA.D0.B8.D0.B9">Belarussian / Белорусский</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=37" title="Edit section: Belarussian / Белорусский">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<h3><span class="mw-headline" id="Finnish_.2F_Suomi">Finnish / Suomi</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=38" title="Edit section: Finnish / Suomi">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://zqiirytam276uogb.onion/">Thorlauta</a> Thorlauta</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://silkkitiehdg5mug.onion/">Silkkitie</a> Silkkitie</li></ul>
<h3><span class="mw-headline" id="French_.2F_Fran.C3.A7ais">French / Français</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=39" title="Edit section: French / Français">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://wyzn2fvcotadictl.onion/">Trollodrôme</a> Forum non modéré. [dead services]</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://frwikisfa6myvoyx.onion/">French Hidden Wiki</a> Bienvenue sur le French Hidden Wiki v2!</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://fdwocbsnity6vzwd.onion/">French Deep Web</a> an administered and moderate French board (1er forum francophone)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://libertygb2nyeyay.onion/">Liberty's Hackers</a> No CP, No racism - because Knowledge has value only if it is shared by all - hosting service</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://libertygb2nyeyay.onion/wiki/">Liberty's Hackers &amp; French Deep Web Wiki</a> Liberty's Hackers &amp; French Deep Web Wiki - sharing everything </li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hfutl2mzry7qztwi.onion/lvn.php">Le Tesseract</a> Centre de formation ésotérique. (Nouveau lien mai 2015)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://lmnoireegfn4johz.onion/index.php">La Main Noire</a> Market professionel et communautaire francais avec irc anonyme</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://oi4bvjslpt5gabjq.onion/">Republique de Hackers</a> Forum francophone [dead service]</li></ul>
<h3><span class="mw-headline" id="German_.2F_Deutsch">German / Deutsch</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=40" title="Edit section: German / Deutsch">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://germanyhuoicaysx.onion/">Deutschland im Deep Web</a> German darknet community with forum and chat</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ffi5v46ltwox3fby.onion/">Das ist DEUTSCHLAND hier! 2.0</a> Das ist DEUTSCHLAND hier! Nachfolger.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://7k7usqpjszn7ls4k.onion/">German pages</a> Neues Deutschland II.</li></ul>
<h3><span class="mw-headline" id="Greek_.2F_.CE.B5.CE.BB.CE.BB.CE.B7.CE.BD.CE.B9.CE.BA.CE.AC">Greek / ελληνικά</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=41" title="Edit section: Greek / ελληνικά">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<h3><span class="mw-headline" id="Italian_.2F_Italiano">Italian / Italiano</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=42" title="Edit section: Italian / Italiano">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://babylonxjrtoyomy.onion/">Babylon</a> Babylon, forum per la comunità italiana</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://cipollaonumrrahd.onion/">Cipolla</a> Comunita' italiana</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://2qrdpoonwwqnic7j.onion/">Italian Darknet Community</a> Italian Darknet Community</li></ul>
<h3><span class="mw-headline" id="Japanese_.2F_.E6.97.A5.E6.9C.AC.E8.AA.9E">Japanese / 日本語</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=43" title="Edit section: Japanese / 日本語">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://poverty4657tlx6h.onion/wiki/index.php?title=%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">Japan Hidden Wiki</a> Links to Japan onions.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://xiwayy2kn32bo3ko.onion/tor">OnionChannel</a> Onion Channel, a system similar to 2channel.</li></ul>
<h3><span class="mw-headline" id="Korean_.2F_.ED.95.9C.EA.B5.AD.EC.96.B4">Korean / 한국어</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=44" title="Edit section: Korean / 한국어">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a href="/wiki/index.php?title=Korean_Hidden_Wiki&amp;action=edit&amp;redlink=1" class="new" title="Korean Hidden Wiki (page does not exist)">Korean Hidden Wiki</a> 한국어 히든 위키 페이지입니다. <i>[internal link]</i></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://highkorea5ou4wcy.onion/">하이 코리아</a> <a href="/wiki/index.php?title=%ED%95%98%EC%9D%B4_%EC%BD%94%EB%A6%AC%EC%95%84&amp;action=edit&amp;redlink=1" class="new" title="하이 코리아 (page does not exist)">하이 코리아</a>는 비트코인을 이용한 대마초 거래 사이트입니다. <a href="/wiki/index.php?title=HiGH_KOREA&amp;action=edit&amp;redlink=1" class="new" title="HiGH KOREA (page does not exist)">HiGH KOREA</a> is a marijuana trading site using Bitcoin.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://v76n5o37d4ulmwcd.onion/">대한민국 최전선(FRONT LINE&nbsp;: R.O.K )</a> 오픈마켓, 한국형 커뮤니티. 무정부 아고라. (Korean Anarchic Agora)</li></ul>
<h3><span class="mw-headline" id="Chinese_.2F_.E4.B8.AD.E5.9B.BD.E8.AA.9E">Chinese / 中国語</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=45" title="Edit section: Chinese / 中国語">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ir5eqhlec4j6n2pz.onion/">Tor中文资源</a> A Chinese blog on Tor Tor中文博客 2014年11月上线</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://s36gxb6xjm662juk.onion/">Tor中文交流论坛</a> Tor中文交流论坛 2015年2月上线</li></ul>
<h3><span class="mw-headline" id="Polish_.2F_Polski">Polish / Polski</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=46" title="Edit section: Polish / Polski">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://qd73mvvc7v7zewwl.onion/">Cebulka</a> Najstarsze działające polskie forum w sieci Tor. Brak cenzury i moderacji.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://nco5ranerted3nkt.onion/">ToRepublic</a> Forum, market oraz serwer IRC.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://iprdvbf4rxykyvvs.onion/">Torepublic ND</a> Forum, market.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ig6ndt6anbg2dimk.onion/">Polish Board &amp; Market</a> Forum oraz market (archiwum dostępne tylko do odczytu).</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://54ogum7gwxhtgiya.onion/">Technodrome</a> Ukryta baza <a href="/wiki/index.php?title=User:Krang&amp;action=edit&amp;redlink=1" class="new" title="User:Krang (page does not exist)">Kranga</a> w sieci Tor! - Blog, katalog stron, WindowsOE, Forum, Shoutbox, Galeria, Aktualności. Kosmiczny przyjaciel ToRepublic.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://54ogum7gwxhtgiya.onion/insertor/">InserTor</a> Pastebin</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ocun3jhbmhvqwggn.onion/">Teczkohen</a> powrót obrazkowego forum o tematyce stalking</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ocun3jhbmhvqwggn.onion/wiki/">Polska Ukryta Wiki</a> polski odpowiednik THW</li></ul>
<h3><span class="mw-headline" id="Russian_.2F_.D0.A0.D1.83.D1.81.D1.81.D0.BA.D0.B8.D0.B9">Russian / Русский</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=47" title="Edit section: Russian / Русский">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://malina2ihfyawiau.onion/">MALINA</a> RU Торговая площадка и форум.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://qgemmxt7p3hiujif.onion/">Продажа клонированных карт</a> Русскоязычный сайт по продаже клонированных карт</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://rkgbxsx3tyq7s6ti.onion/main.html">Financial Hack Group</a> Продажа клонированных карт (русс.)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://sblib3fk2gryb46d.onion/">Зеркало библиотеки Траума</a> 60GB русских и английских книг. Обложки, поиск и возможность скачивать в форматах FB2, HTML и TXT</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://flibustahezeous3.onion/">Флибуста</a> Библиотека.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ezuwnhj5j6mtk4xr.onion/">Веб Хостинг в сети TOR</a> Apache, PHP5, MySQL, SFTP Access, xxxxxxxxxxxxxxxx.onion Domain, Bitcoin server</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://russianyhluzsk53.onion/">Russian Road</a> Торговая площадка для русскоязычных пользователей</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://rospravovkdvaobr.onion/">РосПравосудие</a> крупнейшая картотека юристов, адвокатов, судей и судебных решений (50+ миллионов документов, 35+ тысяч судей, 65+ тысяч адвокатов, сотни тысяч юристов, прокуроры). «РосПравосудие» - аполитичный и независимый проект.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://bryemnetihwcflrs.onion/index_ru.php">Покупка и продажа биткоинов</a> Анонимная и безопасная покупка и продажа биткоинов.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://chinamksmy54x46x.onion/">China Market</a> китайский маркет. Всегда свежие поставки из Китая: каннабиноиды, MDMA кристаллы, экстази, LSD. Доставка без пересечения границы, есть представители в России, Украине и Казахстане. Автоматическое оформление, оплата и получение заказа. Методы оплаты: Bitcoin, Qiwi, Приват24, наличкой через терминалы.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://dangeru72zvedwtg.onion/">Опасные связи</a> социальная сеть на русском языке, объединяющая людей неформальных интересов, которые считаются незаконными или аморальными в обществе.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://kpdqsslspgfwfjpw.onion">A-chan</a> Pусский глубокий веб-чан.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kdrcxean24rxglcy.onion/">Скрытые Ответы</a> Russian Hidden Answers.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://jtm5j25w7fq5tubs.onion/">Схоронил!</a> Архив magnet-ссылок.</li></ul>
<h3><span class="mw-headline" id="Spanish_.2F_Espa.C3.B1ol">Spanish / Español</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=48" title="Edit section: Spanish / Español">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://cebollaigtxumz4v.onion/">CebollaChan</a> CebollaChan, el tor-chan en Castellano.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://nsmgu2mglfj7za6s.onion/">MaximaCulpa</a>, Confesa tus pecados / confess your sins</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://drystagepmi5msdm.onion/">TorPez</a> Foro de seguridad informatica entre otras cosas.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://efxg3mscme5hy7je.onion/">Hidden Answers es</a> Hidden Answers for Spanish-speakers.</li></ul>
<h3><span class="mw-headline" id="Swedish_.2F_Svenska">Swedish / Svenska</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=49" title="Edit section: Swedish / Svenska">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://wd43uqrbjwe6hpre.onion/">KognitionsKyrkan</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://www.kognitionskyrkan.nu/">clearnet</a> Spiritual stuff.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://fcnwebggxt2d3h64.onion/">Moral.Nu</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://www.moral.nu/">clearnet</a> Vad  r moral?</li></ul>
<h3><span class="mw-headline" id="Portuguese_.2F_Portugu.C3.AAs">Portuguese / Português</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=50" title="Edit section: Portuguese / Português">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://v4gn2k725iokfu4u.onion/">Hidden Answers pt</a> Hidden Answers for Portuguese-speakers.</li></ul>
<h1><span class="mw-headline" id="Hidden_Services_-_Other_Protocols">Hidden Services - Other Protocols</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=51" title="Edit section: Hidden Services - Other Protocols">edit</a><span class="mw-editsection-bracket">]</span></span></h1>
<p>Volunteers last verified that all services in this section were up, or marked as DOWN, on: 2011-06-08
For configuration and service/uptime testing, all services in this section MUST list the active port in their address. Exception: HTTP on 80, HTTPS on 443.
For help with configuration, see the <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://trac.torproject.org/projects/tor/wiki/TheOnionRouter/TorifyHOWTO">TorifyHOWTO</a> and <a href="/wiki/index.php?title=End-to-end_connectivity_issues&amp;action=edit&amp;redlink=1" class="new" title="End-to-end connectivity issues (page does not exist)">End-to-end connectivity issues</a>.
</p>
<h1><span class="mw-headline" id="P2P_FileSharing">P2P FileSharing</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=52" title="Edit section: P2P FileSharing">edit</a><span class="mw-editsection-bracket">]</span></span></h1>
<p>Running P2P protocols within Tor requires OnionCat. Therefore, see the <a href="/wiki/index.php?title=Main_Page#OnionCat_Addresses" title="Main Page">OnionCat section</a> for those P2P services.
IMPORTANT: It is possible to use Tor for P2P. However, if you do, the right thing must also be done by <a href="/wiki/index.php?title=P2P_Bandwidth&amp;action=edit&amp;redlink=1" class="new" title="P2P Bandwidth (page does not exist)">giving back</a> the bandwidth used. Otherwise, if this is not done, Tor will be crushed taking everyone along with it.
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://wtwfzc6ty2s6x4po.onion/">Sea Kitten Palace</a> Torrent site and tracker for extreme content (real gore, animal torture, shockumentaries/mondo cinema, and Disney movies)</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://uj3wazyk5u4hnvtk.onion/">The Pirate Bay</a> The Pirate Bay.</li></ul>
<h2><span class="mw-headline" id="Chat_centric_services">Chat centric services</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=53" title="Edit section: Chat centric services">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Some people and their usual server hangouts may be found in the <a href="/wiki/index.php?title=Contact_Directory&amp;action=edit&amp;redlink=1" class="new" title="Contact Directory (page does not exist)">Contact Directory</a>.
</p>
<h3><span class="mw-headline" id="IRC">IRC</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=54" title="Edit section: IRC">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>Use e.g. <a href="/wiki/index.php?title=ChatZilla&amp;action=edit&amp;redlink=1" class="new" title="ChatZilla (page does not exist)">ChatZilla</a> add-on for the <abbr title="Internet Relay Chat">IRC</abbr> protocol <span style="background-color:#ff0">(the Tor Project does not suggest installing browser addons unless you understand the risks)</span>, or a standalone client such as <a href="/wiki/index.php?title=HexChat&amp;action=edit&amp;redlink=1" class="new" title="HexChat (page does not exist)">HexChat</a>. <a href="/wiki/index.php?title=Tails" title="Tails">Tails</a> comes with <a href="/wiki/index.php?title=Pidgin&amp;action=edit&amp;redlink=1" class="new" title="Pidgin (page does not exist)">Pidgin</a>, which will work for IRC as well.
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://cfyfz6afpgfeirst.onion:6667/">Agora Anonymous</a> Agorist IRC server</li></ul>
<dl><dd> plaintext ports: 6667</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://chatjnv7sshcuz6a.onion:6667/">ANYChat</a></li></ul>
<dl><dd> plaintext ports: 6667; ssl: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://chatjnv7sshcuz6a.onion:6697/">6697</a></dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://deepirc23ukiben3.onion:6667/">DeepIRC</a> <a href="/wiki/index.php?title=Template:Language&amp;action=edit&amp;redlink=1" class="new" title="Template:Language (page does not exist)">Template:Language</a></li></ul>
<dl><dd> plaintext ports: 6667</dd></dl>
<ul><li> Federation: <a href="/wiki/index.php?title=OnionNet" title="OnionNet">OnionNet</a> IRC network comprised of:
<ul><li> onionirczesfffux.onion:6667 <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://onionirczesfffux.onion:6667/">Juppi IRC</a> Juppi's IRC server.</li>
<li> onionirccaaakegi.onion:6667 <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://onionirccaaakegi.onion:6667/">Juppi IRC</a> (<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://fucktoy75jx3524x.onion:6667/">old</a> <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup>) - Juppi's other IRC server.</li>
<li> <s>onionirc2udqrqpo.onion:6667 <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://onionirc2udqrqpo.onion:6667/">YankeeGuy IRC</a> YankeeGuy's IRC server.</s></li></ul></li>
<li> FreedomIRC - <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="gopher://jewjewkeei4o4bvn.onion/">gopher</a> or <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://jewjewkeei4o4bvn.onion">http</a>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://jewjewkeei4o4bvn.onion:6667/">irc.freedom.net</a> (<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://3pedopedqayeyvhp.onion:6667/">alt link</a>)<br>plaintext ports: 6667</li></ul></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://tns7i5gucaaussz4.onion:6667/">FREEFOR</a> <a href="/wiki/index.php?title=Main_Page#FREEFOR" title="Main Page">FREEdom FORces</a> see <i><a href="/wiki/index.php?title=Political_Advocacy&amp;action=edit&amp;redlink=1" class="new" title="Political Advocacy (page does not exist)">Political Advocacy</a></i></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://nakufgztylanf4mw.onion:9999/">hackint</a> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://hackint.eu/">hackint</a> is a communication network for the hacker community.</li></ul>
<dl><dd> running on lechuck.hackint.org; ssl ports: 9999; no plaintext ports</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://jdobmyzmx4bh7n25.onion:6697/">HeavyCrypto</a> HeavyCrypto IRC</li></ul>
<dl><dd> ssl ports: 6697; no plaintext ports</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://vgg6whpouebbcx7w.onion:6667">KeratNet</a> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://kerat.net/">Kerat</a></li></ul>
<dl><dd> plaintext ports: 6667; ssl: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://vgg6whpouebbcx7w.onion:6697">6697</a></dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://e4bqnvfdasnx4plk.onion:6667/">KillYourIRC</a> onion for irc.killyourtv.i2p</li></ul>
<dl><dd> plaintext ports: 6667; ssl: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://e4bqnvfdasnx4plk.onion:9999">9999</a></dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://nazgul3zxuzvrgg6.onion">Nazgul</a> free for all IRC network</li></ul>
<dl><dd> plaintext ports: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://nazgul3zxuzvrgg6.onion:6667/">nazgul3zxuzvrgg6.onion:6667</a></dd>
<dd> ssl ports: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://irc.nazgul.io:6697/">irc.nazgul.io:6697</a> <a href="/wiki/index.php?title=Template:Clearnet&amp;action=edit&amp;redlink=1" class="new" title="Template:Clearnet (page does not exist)">Template:Clearnet</a> (SSL)</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://cgl7owaxduu2eupi.onion:6667/">OnionIRC</a> New, censorship-free IRC server.</li></ul>
<dl><dd> plaintext ports: 6668</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://e2ymwjy6mzy4hx3t.onion:6669/">OpenSource</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://g7pz322wcy6jnn4r.onion/opensource/ovdb/ac/viewtopic.php?id=284">info</a> Drug chat</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://ronsor37xl7tqn7p.onion:6667/">public.ronsor-router.lan</a> Freelinking server owned by Ronsor</li></ul>
<dl><dd> plaintext ports: 6667; SSL ports: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://ronsor37xl7tqn7p.onion:6697/">6697</a></dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://z7uo4qztub5rn4jl.onion:6667/">Smokey's Grill</a> General chat IRC. Doesn't allow plotting the abuse of other people. <a href="/wiki/index.php?title=Template:New&amp;action=edit&amp;redlink=1" class="new" title="Template:New (page does not exist)">Template:New</a></li></ul>
<dl><dd> plaintext ports: 6667</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://vola7ileiax4ueow.onion">Volatile</a> we back
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://lolikaastbgo5dtk.onion:6667">irc.krustykrab.restaurant</a> owned by wowaname<br>plaintext ports: 6667, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://lolikaastbgo5dtk.onion:7777">7777</a>; ssl: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://lolikaastbgo5dtk.onion:6697">6697</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://lolikaastbgo5dtk.onion:9999">9999</a>.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://kitsune6uv4dtdve.onion:6667">kitsune6uv4dtdve.onion</a> owned by wowaname<br>plaintext ports: 6667, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://kitsune6uv4dtdve.onion:7777">7777</a>; ssl: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://kitsune6uv4dtdve.onion:6697">6697</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://kitsune6uv4dtdve.onion:9999">9999</a>.</li></ul></li></ul>
<hr>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://itapxk4hwi3k5ktj.onion:6667">Anonimowy IRC</a> Anonimowy IRC (Polish anonymous IRC server) <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup></li></ul>
<dl><dd> plaintext ports: 6667; ssl:6697</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="ircs://w4a6ssearu46yphm.onion:6697/">hackint</a> Old hidden service? <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup></li>
<li> irc2p onion gateways:
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://ogn5vbujhrvbihko.onion:6667/">irc.echelon.i2p</a> Gateway provided by chisquare / psi of All You're Base</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://irc2p5zrbdk25rdy.onion:6667/">irc.postman.i2p</a></li></ul></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://qnwpupud3hyir6qp.onion:6697/">NeoturbineNET IRC</a> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://neoturbine.net/">NeoturbineNET</a> IRC server <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup></li></ul>
<dl><dd> running on kropotkin.computersforpeace.net; ssl ports: 6697; no plaintext ports</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://37lnq2veifl4kar7.onion:6667/">OFTC IRC</a> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.oftc.net/oftc/">OFTC</a> unofficial hidden service for OFTC</li></ul>
<dl><dd> running on: (various).oftc.net, ports:: plaintext: 6667 ssl: 6697</dd></dl>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://oh6ev55uo4cmgh4w.onion:6667">prooops.eu IRC</a> prooops.eu IRC (Clearnet <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="http://irc.prooops.eu/">http://irc.prooops.eu/</a>) <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup></li></ul>
<dl><dd> plaintext ports: 6667; ssl: 6697</dd></dl>
<ul><li> WANNABE: <a href="/wiki/index.php?title=Federation_OnionNet&amp;action=edit&amp;redlink=1" class="new" title="Federation OnionNet (page does not exist)">Federation OnionNet</a>&nbsp;:
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://dbwuevvmqlhzz2p6.onion:6667/">New Ngircd</a> Yep this is a new ircd in OnionLands looking for peering in OnionNet <sup><b>[</b><a href="/wiki/index.php?title=The_Hidden_Wiki:Tags&amp;action=edit&amp;redlink=1" class="new" title="The Hidden Wiki:Tags (page does not exist)"><span style="color: red">▼ <b>DOWN</b></span></a>   <b>]</b></sup></li></ul></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://freenode.net/">freenode IRC</a> requires <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://freenode.net/irc_servers.shtml#tor">SASL authentication</a> to an already existing NickServ account
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://2hktdmgt6bg2hjuc.onion:6667/">2hktdmgt6bg2hjuc.onion</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://frxleqtzgvwkv7oz.onion:6667/">frxleqtzgvwkv7oz.onion</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://l4wvhvf666nifnpg.onion:6667/">l4wvhvf666nifnpg.onion</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://p4fsi4ockecnea7l.onion:6667/">p4fsi4ockecnea7l.onion</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://p567hbjdstqvg7xw.onion:6667/">p567hbjdstqvg7xw.onion</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://vgh6tbfjk65zj5ep.onion:6667/">vgh6tbfjk65zj5ep.onion</a></li></ul></li></ul>
<dl><dd> All of these direct to zelazny.freenode.net and allow plaintext port 6667 as well as SSL ports 6697, 7000, and 7070.</dd></dl>
<table style="background-color: #CCFFFF; border: 3px solid #3399FF;">
<tbody><tr>
<td rowspan="2" style="vertical-align: middle; padding: 5px;">
</td>
<td style="vertical-align: middle; padding: 3px;"> 
<p><b>Below is a list of <i>DEAD</i> irc servers from Anonet</b>:
</p>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.anonet2.org/">AnoNet</a> Each server is on its own network and connects to a chat cloud
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://2dmrunyyp6bp53th.onion:6667/RendezVous">irc1.srn.ano</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://anortr.ucis.nl:8804/RendezVous">clearnet</a></li>
<li> elef7kcrczguvamt.onion:15783 - Direct access to the AnoNet chat cloud. Use an IRC server to connect.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://elef7kcrczguvamt.onion:6667/anonet">irc3.srn.ano</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://w53qxqs27amlrwnm.onion:6667/anonet">irc2.srn.ano</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://anortr.ucis.nl:8806/anonet">clearnet</a> Still connects to the old AnoNet chat cloud; that will soon change.</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="irc://wllef6hh2mt6uoi4.onion:6667/anonet">irc4.srn.ano</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://4ktz77nd2rn7gcsm.onion:9090/">irc.cananon.ano</a> Web Chat Version join #Anonet</li></ul></li></ul>
</td></tr></tbody></table>
<h3><span class="mw-headline" id="SILC">SILC</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=55" title="Edit section: SILC">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> fxb4654tpptq255w.onion:706 - SILCroad, public server. [<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://ianxz6zefk72ulzz.onion/index.php/forums/thread/385/35">discuss/support</a>]</li>
<li> &lt;protect&gt;<a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://silkroad6ownowfk.onion/">Silkroad 2.0</a> The new silkroad. Biggest marketplace for drugs on the Darknet. (Bitcoin)&lt;/protect&gt;</li>
<li> kissonmbczqxgebw.onion:10000 - KISS.onion - Keep It Simple and Safe - ditch the web browser, use SILC to communicate securely (using <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://pidgin.im/">Pidgin</a> with <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://otr.cypherpunks.ca/">OTR</a>)</li></ul>
<h3><span class="mw-headline" id="XMPP_.28formerly_Jabber.29">XMPP (formerly Jabber)</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=56" title="Edit section: XMPP (formerly Jabber)">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<ul><li> <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="xmpp:tortureregex47xf.onion:5222">xmpp:tortureregex47xf.onion:5222</a> - Public XMPP with MUC (multi user chat) enabled. No Child Porn and racism here, any breach will result in a ban. Maintained by <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://2kcreatydoneqybu.onion/">Creative Hack</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="xmpp:okj7xc6j2szr2y75.onion:5222">xmpp:okj7xc6j2szr2y75.onion:5222</a> - <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="xmpp:jabber.ccc.de:5222">xmpp:jabber.ccc.de:5222</a> as a hidden service</li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="xmpp:libertygb2nyeyay.onion:5222">xmpp:libertygb2nyeyay.onion:5222</a> - instant messager for Liberty's Hackers - chat room for Liberty's Hackers and french users - chat room for international sharing - Create your own public or private MUC - federation onion activated  - <b>No CP and no Racism please</b> - web clients&nbsp;: <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="https://libertygb2nyeyay.onion:5281/candy">https://libertygb2nyeyay.onion:5281/candy</a>  <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="http://libertyy56ecbupa.onion/im/jappix/">http://libertyy56ecbupa.onion/im/jappix/</a></li>
<li> <a target="_blank" rel="nofollow noreferrer noopener" class="external free" href="xmpp:cyjabr4pfzupo7pg.onion:5222">xmpp:cyjabr4pfzupo7pg.onion:5222</a> - <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://cyjabr4pfzupo7pg.onion/">CYRUSERV Community Jabber</a>, a public server ran by <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://cyruservvvklto2l.onion/">CYRUSERV</a>.</li></ul>
<h3><span class="mw-headline" id="TorChat_Addresses"><a href="/wiki/index.php?title=TorChat" title="TorChat">TorChat</a> Addresses</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=57" title="Edit section: TorChat Addresses">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>Humans are listed in the above contact directory. Bots are listed below.
</p>
<ul><li> 7oj5u53estwg2pvu.onion:11009 - TorChat InfoServ #2nd, by <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://g7l35kk2ysi7ggon.onion/">ACS</a>.</li>
<li> gfxvz7ff3bzrtmu4.onion:11009 - TorChat InfoServ #1st, by <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://g7l35kk2ysi7ggon.onion/">ACS</a>.</li></ul>
<h1><span class="mw-headline" id="SFTP_-_SSH_File_Transfer_Protocol">SFTP - SSH File Transfer Protocol</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=58" title="Edit section: SFTP - SSH File Transfer Protocol">edit</a><span class="mw-editsection-bracket">]</span></span></h1>
<p>These SFTP clients work with Tor: <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://winscp.net/">WinScp</a>, <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://filezilla-project.org/">FileZilla</a>. Set proxy to SOCKS5, host 127.0.0.1, port 9150 (Windows,Mac) or 9050 (Linux). Encrypt your sensitive files using <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.gnupg.org/">GnuPG</a> before uploading them to any server.
</p>
<ul><li> kissonmbczqxgebw.onion:10001 - KISS.onion - SFTP file exchange service (username "sftp.anon", password "anon")</li></ul>
<h2><span class="mw-headline" id="OnionCat_Addresses"><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.cypherpunk.at/onioncat/">OnionCat</a> Addresses</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=59" title="Edit section: OnionCat Addresses">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>List of only the Tor-backed fd87:d87e:eb43::/48 address space, sorted by onion. There are instructions for using <a href="/wiki/index.php?title=OnionCat_Instructions&amp;action=edit&amp;redlink=1" class="new" title="OnionCat Instructions (page does not exist)">OnionCat</a>, <a href="/wiki/index.php?title=OnionCat_Gnutella&amp;action=edit&amp;redlink=1" class="new" title="OnionCat Gnutella (page does not exist)">Gnutella</a>, <a href="/wiki/index.php?title=OnionCat_BitTorrent&amp;action=edit&amp;redlink=1" class="new" title="OnionCat BitTorrent (page does not exist)">BitTorrent Client</a>, and <a href="/wiki/index.php?title=OnionCat_BitTorrent_Tracker&amp;action=edit&amp;redlink=1" class="new" title="OnionCat BitTorrent Tracker (page does not exist)">BitTorrent Tracker</a>.
</p>
<ul><li> 62bwjldt7fq2zgqa.onion:8060
<ul><li> fd87:d87e:eb43:f683:64ac:73f9:61ac:9a00 - ICMPv6 Echo Reply</li></ul></li>
<li> a5ccbdkubbr2jlcp.onion:8060 - mail.onion.aio
<ul><li> fd87:d87e:eb43:0744:208d:5408:63a4:ac4f - ICMPv6 Echo Reply</li></ul></li>
<li> ce2irrcozpei33e6.onion:8060 - bank-killah
<ul><li> fd87:d87e:eb43:1134:88c4:4ecb:c88d:ec9e - ICMPv6 Echo Reply</li>
<li> [fd87:d87e:eb43:1134:88c4:4ecb:c88d:ec9e]:8333 - Bitcoin Seed Node</li></ul></li>
<li> taswebqlseworuhc.onion:8060 - <a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://taswebqlseworuhc.onion/">TasWeb</a> DOWN 2011-09-08
<ul><li> fd87:d87e:eb43:9825:6206:0b91:2ce8:d0e2 - ICMPv6 Echo Reply</li>
<li> http://[fd87:d87e:eb43:9825:6206:0b91:2ce8:d0e2]/</li>
<li> gopher://[fd87:d87e:eb43:9825:6206:0b91:2ce8:d0e2]:70/</li></ul></li>
<li> vso3r6cmjoomhhgg.onion:8060 - echelon
<ul><li> fd87:d87e:eb43:ac9d:b8f8:4c4b:9cc3:9cc6 - ICMPv6 Echo Reply</li></ul></li></ul>
<h2><span class="mw-headline" id="Bitcoin_Seeding"><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="http://www.bitcoin.org/">Bitcoin</a> Seeding</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/wiki/index.php?title=Main_Page&amp;action=edit&amp;section=60" title="Edit section: Bitcoin Seeding">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p><a target="_blank" rel="nofollow noreferrer noopener" class="external text" href="https://en.bitcoin.it/wiki/Fallback_Nodes">Instructions</a>
</p>
<ul><li> xqzfakpeuvrobvpj.onion:8333</li>
<li> z6ouhybzcv4zg7q3.onion:8333</li></ul>